# Python Caches & Compiled Files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller Build & Dist Artifacts
build/
dist/
*.spec

# Assets & App Specs (Local only)
icon.ico
icon.png

# IDE / System Settings
.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs & Temporary Files
*.log
scratch/
temp/

# Empty user folders (automatically created by executable / script on startup)
midi/
